/* General & Layout */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(30, 30, 30);
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 12% 35%;
    justify-content: center;
    margin: 0;
    padding: 10px 0;
}

.container > * {
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-image: linear-gradient(rgb(179, 179, 179),white);
    padding: 20px 0;
}

header p {
    margin: 8px 0;
}


.icon {
    height: 15px;
    width: auto;
    display: inline-block;
    vertical-align: top;
}

.li-icon {
    height: 18px;
    width: auto;
    display: inline-block;
    vertical-align: top;
}

/* Links */
a:link {
    color: rgb(30, 30, 30);
    text-decoration: none;
}

a:visited {
    color: rgb(30, 30, 30);
    text-decoration: none;
}

a:hover {
    color: rgb(141, 141, 141);
    text-decoration: none;
}


/* Experience */
.jobtitle {
    font-size: 16px;
    margin-bottom: -6px;
}

.jobdates {
    font-size: 12px;
}

.right ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.right ul li {
    padding: 0;
    margin: 5px 20px;
    flex: auto;
}

.jobcontainer {
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo img {
    width: 75px;
    height: auto;
}
