/* General & Layout */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(30, 30, 30);
}

/* Header */
header {
    background-image: linear-gradient(rgb(179, 179, 179),white);
}

header p {
    margin: 8px 0;
}


/* .icon {
    height: 15px;
    width: auto;
    display: inline-block;
    vertical-align: top;
}

.li-icon {
    height: 18px;
    width: auto;
    display: inline-block;
    vertical-align: top;
} */

/* Links */
a:link {
    color: rgb(30, 30, 30);
    text-decoration: none;
}

a:visited {
    color: rgb(30, 30, 30);
    text-decoration: none;
}

a:hover {
    color: rgb(141, 141, 141);
    text-decoration: none;
}


/* Experience */
.jobtitle {
    font-size: 16px;
    margin-bottom: -6px;
}

.jobdates {
    font-size: 12px;
}

.employerLogo {
    width: 75px;
    height: auto;
}
